body{
  margin: 0;
  padding: 0;
  background-image: linear-gradient(rgba(10, 200, 255, 1), rgba(255, 255, 0, 0.5)),
                  url("record.png");
}
  header{
    background-color: darkblue;
    color: white;
    text-align: center;
  }
  main{
    background-color: lightgrey;
    padding: 1em;

  }
